.user-login h1 {
  text-align: center;
  margin: 20px;
}

.user-login form {
  width: 300px;
  margin: 0 auto;
}

.user-login label,
.user-login input,
.user-login button {
  margin: 10px;
}
.user-login input,
.user-login button {
  width: 100%;
  height: 30px;
}
